.button {
  padding-block: 0.938em;
  padding-inline: 1.875em;

  font-family: inherit;
  font-size: var(clamp(0.938rem, 0.917rem + 0.1vw, 1rem));
  text-transform: none;

  color: var(--color-text-primary);

  background-color: var(--color-background-primary);

  border: none;

  cursor: pointer;

  transition: opacity 0.3s ease;
}

@media (any-hover: hover) {
  .button:hover {
    opacity: 0.85;
  }
}
