.menu 
  nav.menu__nav 
    ul.menu__list 
      li.menu__item
        a.menu__link item 1
      li.menu__item
        a.menu__link item 2
      li.menu__item
        a.menu__link item 3
      li.menu__item
        a.menu__link item 4
      li.menu__item
        a.menu__link item 5
  
  .menu__button(aria-label="toggle burger menu")
    span.menu__icon