.page {
  height: 100%;

  &__body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: var(--font-line-height-base);
  }

  &__main {
    flex-grow: 1;
  }
}
