extend layout/goods

block page
  include parts/header

  main.page__main
    section.envelope
      div.wrapper

        div.envelope__content

          img.envelope__img(src="./img/goods/chair.jpg" alt="Dendy chair." width="610" height="660")

          div.envelope__block

            h2.title.envelope__title(id="chairs")
              | The Dandy Chair

            span.envelope__subtitle
              | £250

            h3.envelope__main
              | Description

            p.envelope__info
              | A timeless design, with premium materials features as one of our most popular and iconic pieces. The dandy chair is perfect for any stylish living space with beech legs and lambskin leather upholstery.

            ul.envelope__list
              li.envelope__item
                | Premium material
              li
                | Handmade upholstery
              li
                | Quality timeless classic

            h3.envelope__main
              | Dimensions

            table.table
              thead.table__head

                tr.table__row
                  th Height
                  th Width
                  th Depth
                tr.table__row

                  td 110cm
                  td 75cm
                  td 50cm

            div.amount(id="chair")
              span
                | Amount:

              div.amount__counter
                button.amount__decrease(type="button") -
                span.amount__total 1
                button.amount__increase(type="button") +

              button.button.amount__button(type="button")
                | Add&nbsp;to&nbsp;cart

    include chunk/collection.pug
    include chunk/advantages.pug
    include chunk/club.pug
    include chunk/footer.pug
