extend layout/products

block page
  include parts/header

  main.page
    section.main
      div.wrapper

        h1.main__title.title
          | All products

    include chunk/products

    include chunk/cards

    include chunk/footer
