.envelope {
  padding-block: var(--1280_50-320_20);
  background-color: var(--color-background-quaternary);

  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: var(--1280_60-390_25);
  }

  &__img {
    width: min(50%, 610px);
    object-fit: cover;
  }

  &__block {
    padding-block: 30px;
  }

  &__title,
  &__subtitle,
  &__main {
    color: var(--color-text-quaternary);
  }


  &__title {
    margin-bottom: 15px;
    font-size: var(--1280_36-320_24);
  }

  &__subtitle {
    display: inline-block;
    margin-bottom: var(--1280_50-320_20);
    font-size: var(--1280_24-320_20);
  }

  &__main {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    font-family: var(--second-family);
  }

  &__info {
    margin: 0;
    margin-bottom: 20px;
    color: var(--color-text-quinary);
  }

  &__list {
    margin: 0;
    margin-bottom: 15px;
    margin-bottom: var(--1280_50-320_20);
    padding-left: 25px;
    color: var(--color-text-quinary);
  }
}
