.header__wrapper {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding-inline: 25px;
  max-width: min(1385px, 100%);
  box-sizing: content-box;
}

.header__top {
  display: grid;
  grid-template-columns: 200px 1fr 32px 32px;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__form {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header__label {
  min-width: 16px;
  min-height: 16px;
  background-image: url('./../img/svg/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.header__search {
  border: none;
  height: 32px;
}

.header__search::-webkit-calendar-picker-indicator {
  display: none !important;
}

.header__logo {
  padding-right: 140px;
  text-align: center;
}

.header__cart {
  padding-block: 16px;
}

.header__cart {
  margin-right: 4px;
  min-width: 32px;
  min-height: 32px;
  background-image: url('./../img/svg/cart.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  transition: transform 0.2s ease;
}

.header__cart:hover {
  transform: scale(1.1);
}
