:root {
  --font-family: "Satoshi", sans-serif;
  --second-family: "Clash Display", sans-serif;

  --wrapper-padding: 25px;
  --wrapper-width: 1280px;

  --dark-primary: #2a254b;
	--primary: #4e4d93;
	--light-grey: #f9f9f9;
	--border-grey: #ebe8f4;
	--white: #fff;
	--border-dark: #cac6da;
	--images---dark-chair: #f6f6f6;

  --color-menu-text: #726e8d;
  --color-menu-text-hover: #22202e;
  --color-account-form: var(--light-grey);
	--color-avatar-active: #2eba04;
}
