:root {
  --font-family: 'Satoshi', sans-serif;
  --second-family: 'Clash Display', sans-serif;

  --wrapper-padding: 25px;
  --wrapper-width: 1280px;

  --blue-dark: #2a254b;
  --light-gray-primary: #f9f9f9;
  --light-gray-secondary: #ececec;
  --gray: #505977;
  --deep-blue: #22202e;
  --light-lilac: #726e8d;
  --fog: rgba(249, 249, 249, 0.15);
  --white: #fff;
  --yellow-dark: #d5a962;

  --color-background-primary: var(--blue-dark);
  --color-background-secondary: var(--fog);
  --color-background-tertiary: var(--white);
  --color-background-quaternary: var(--light-gray-primary);
  --color-background-quinary: var(--light-gray-secondary);
  --color-text-primary: var(--white);
  --color-text-secondary: var(--deep-blue);
  --color-text-tertiary: var(--light-lilac);
  --color-text-quaternary: var(--blue-dark);
  --color-text-quinary: var(--gray);
  --color-accent-primary: var(--yellow-dark);

  --1280_305-320_230: clamp(14.375rem, 12.813rem + 7.81vw, 19.063rem);
  --1280_130-320_35: clamp(2.188rem, 0.208rem + 9.9vw, 8.125rem);
  --1280_155-320_30: clamp(1.875rem, -0.729rem + 13.02vw, 9.688rem);
  --1280_100-320_25: clamp(1.563rem, 7.81vw, 6.25rem);
  --1280_85-320_30: clamp(1.875rem, 0.729rem + 5.73vw, 5.313rem);
  --1280_60-390_25: clamp(1.563rem, 0.604rem + 3.93vw, 3.75rem);
  --1280_50-390_35: clamp(2.188rem, 1.777rem + 1.69vw, 3.125rem);
  --1280_50-990_30: clamp(1.875rem, -2.392rem + 6.9vw, 3.125rem);
  --1280_50-320_20: clamp(1.25rem, 0.625rem + 3.13vw, 3.125rem);
  --1280_36-320_24: clamp(1.5rem, 1.25rem + 1.25vw, 2.25rem);
  --1280_32-320_19: clamp(1.188rem, 0.917rem + 1.35vw, 2rem);
  --1280_30-320_15: clamp(0.938rem, 0.625rem + 1.56vw, 1.875rem);
  --1280_30-320_0: clamp(0rem, -0.625rem + 3.13vw, 1.875rem);
  --1280_24-320_20: clamp(1.25rem, 1.167rem + 0.42vw, 1.5rem);
  --1280_18-320_14: clamp(0.875rem, 0.792rem + 0.42vw, 1.125rem);
  --1280_16-320_15: clamp(0.938rem, 0.917rem + 0.1vw, 1rem);
  --630_350-320_250: clamp(15.625rem, 9.173rem + 32.26vw, 21.875rem);
  --455_305-320_200: clamp(12.5rem, -3.056rem + 77.78vw, 19.063rem);
}
