section.envelope

  div.wrapper

    img(src="./../img/goods/chair.jpg", alt="Dendy chair." width="610" height="660")

    div.envelope__content

      h2.title.envelope__title
        | The Dandy Chair

      span.envelope__subtitle(aria-label="Goods price.")
        | £250

      h3.envelope__main
       | Description

      p.envelope__info
        | A timeless design, with premium materials features as one of our most popular and iconic pieces. The dandy chair is perfect for any stylish living space with beech legs and lambskin leather upholstery.

      ul.envelope__list
        li.envelope__item
          | Premium material
        li
          | Handmade upholstery
        li
          | Quality timeless classic

      h3.envelop__main
        | Dimensions

      table.envelop__table
        thead
          tr
            th  Height
            th Width
            th Depth
          tr
            td 110cm
            td 75cm
            td 50cm

      div.envelop__amount
        span
          | Amount:

        div.envelop__counter

        button.envelope__button(type="button")
          | Add to cart
