section.advantages

  .wrapper

    h2.advantages__title.title
      | What makes our brand different

    ul.advantages__list

      li.advantages__item
        h3.advantages__head.title
          | Next day as standard
        p.advantages__text
          | Order before 3pm and get your order the next day as standard

      li.advantages__item
        h3.advantages__head.title
          | Made by true artisans
        p.advantages__text
          | Handmade crafted goods made with real passion and craftmanship

      li.advantages__item
        h3.advantages__head.title
          | Unbeatable prices
        p.advantages__text
          | For our materials and quality you won’t find better prices anywhere

      li.advantages__item
        h3.advantages__head.title
          | Recycled packaging
        p.advantages__text
          | We use 100% recycled to ensure our footprint is more manageable
