nav.burger

  ul.burger__list
    li.burger__item
      a.burger__link(href="./pots.html") Plant pots
    li.burger__item
      a.burger__link(href="./ceramics.html") Ceramics
    li.burger__item
      a.burger__link(href="./tables.html") Tables
    li.burger__item
      a.burger__link(href="./chairs.html") Chairs
    li.burger__item
      a.burger__link(href="./crockery.html") Crockery
    li.burger__item
      a.burger__link(href="./tableware.html") Tableware
    li.burger__item
      a.burger__link(href="#!") Cutlery

  button.burger__close(type="button" aria-label="close menu")
    svg(width="24" height="24" viewBox="0 0 24 24" fill="none")
      rect(width="24" height="24" fill="white" style="mix-blend-mode:multiply")
      path(d="M18 7.05L16.95 6L12 10.95L7.05 6L6 7.05L10.95 12L6 16.95L7.05 18L12 13.05L16.95 18L18 16.95L13.05 12L18 7.05Z" fill="#2A254B")

.burger__overlay

button.burger__open(type="button" aria-label="open menu")
  svg(width="16" height="16" viewBox="0 0 16 16" fill="none")
    rect(width="16" height="16" fill="white" style="mix-blend-mode:multiply")
    path(d="M14 3H2V4H14V3Z" fill="#2A254B")
    path(d="M14 12H2V13H14V12Z" fill="#2A254B")
    path(d="M14 6H2V7H14V6Z" fill="#2A254B")
    path(d="M14 9H2V10H14V9Z" fill="#2A254B")
