section.cards
  div.wrapper

    h2.collection__title.visually-hidden
      | Our collections

    .cards__list

      .collection__slide
        img.collection__image.cards__img(src="./img/collection/chair.jpg" alt="Chair." loading="lazy" width="305" height="375")
        div.collection__href
          a.collection__link.cards__name(href="#!") The Dandy chair
        span.collection__price.cards__price £250

      .collection__slide
        img.collection__image.cards__img(src="./img/collection/rustic.jpg" alt="Vase set." loading="lazy" width="305" height="375")
        div.collection__href
          a.collection__link.cards__name(href="#!") Rustic Vase Set
        span.collection__price.cards__price £155

      .collection__slide
        img.collection__image.cards__img(src="./img/collection/vase.jpg" alt="Silky Vase." loading="lazy" width="305" height="375")
        div.collection__href
          a.collection__link.cards__name(href="#!") The Silky Vase
        span.collection__price.cards__price £125

      .collection__slide
        img.collection__image.cards__img(src="./img/collection/lamp.jpg" alt="Lamp." loading="lazy" width="305" height="375")
        div.collection__href
          a.collection__link.cards__name(href="#!") The Lucy Lamp
        span.collection__price.cards__price £399

    .cards__list

      .collection__slide
        img.collection__image.cards__img(src="./img/collection/lamp2.jpg" alt="Chair." loading="lazy" width="305" height="375")
        div.collection__href
          a.collection__link.cards__name(href="#!") The Dandy chair
        span.collection__price.cards__price £250

      .collection__slide
        img.collection__image.cards__img(src="./img/collection/vase2.jpg" alt="Vase set." loading="lazy" width="305" height="375")
        div.collection__href
          a.collection__link.cards__name(href="#!") Rustic Vase Set
        span.collection__price.cards__price £155

      .collection__slide
        img.collection__image.cards__img(src="./img/collection/chair2.jpg" alt="Silky Vase." loading="lazy" width="305" height="375")
        div.collection__href
          a.collection__link.cards__name(href="#!") The Silky Vase
        span.collection__price.cards__price £125

      .collection__slide
        img.collection__image.cards__img(src="./img/collection/chair3.jpg" alt="Lamp." loading="lazy" width="305" height="375")
        div.collection__href
          a.collection__link.cards__name(href="#!") The Lucy Lamp
        span.collection__price.cards__price £399

    .cards__list

      .collection__slide
        img.collection__image.cards__img(src="./img/collection/chair.jpg" alt="Chair." loading="lazy" width="305" height="375")
        div.collection__href
          a.collection__link.cards__name(href="#!") The Dandy chair
        span.collection__price.cards__price £250

      .collection__slide
        img.collection__image.cards__img(src="./img/collection/rustic.jpg" alt="Vase set." loading="lazy" width="305" height="375")
        div.collection__href
          a.collection__link.cards__name(href="#!") Rustic Vase Set
        span.collection__price.cards__price £155

      .collection__slide
        img.collection__image.cards__img(src="./img/collection/vase.jpg" alt="Silky Vase." loading="lazy" width="305" height="375")
        div.collection__href
          a.collection__link.cards__name(href="#!") The Silky Vase
        span.collection__price.cards__price £125

      .collection__slide
        img.collection__image.cards__img(src="./img/collection/lamp.jpg" alt="Lamp." loading="lazy" width="305" height="375")
        div.collection__href
          a.collection__link.cards__name(href="#!") The Lucy Lamp
        span.collection__price.cards__price £399

    a.collection__view.link(href="./products.html")
      | View collection
