section.club
  div.wrapper
    div.club__content

      h2.club__title.title
        | Join the club and get the benefits

      p.club__subtitle
        | Sign up for our newsletter and receive exclusive offers on new ranges, sales, pop up stores and more

      form.club__form(action="#")

        input.club__input(type="text" placeholder="your@email.com")

        button.club__button.button(type="button")
          | Sign&nbsp;up
