section.collection

  .wrapper

    h2.collection__title.visually-hidden
      | Our collections

    .swiper
      .swiper-wrapper

        .swiper-slide
          img.collection__image(src="" alt="Chair." loading="lazy" with="305" height="375")
          a.collection__link(href="#!") The Dandy chair
          span.colletion__price £250

        .swiper-slide
          img.collection__image(src="" alt="Vase set." loading="lazy" with="305" height="375")
          a.collection__link(href="#!") Rustic Vase Set
          span.colletion__price £155

        .swiper-slide
          img.collection__image(src="" alt="Silky Vase." loading="lazy" with="305" height="375")
          a.collection__link(href="#!") The Silky Vase
          span.colletion__price £125

        .swiper-slide
          img.collection__image(src="" alt="Lamp." loading="lazy" with="305" height="375")
          a.collection__link(href="#!") The Lucy Lamp
          span.colletion__price £399

    a.collection__view.link(href="#!")
      | View collection
