section.collection

  .wrapper

    h2.collection__title.visually-hidden
      | Our collections

    .collection__swiper.swiper
      .swiper-wrapper

        .collection__slide.swiper-slide
          img.collection__image(src="./img/collection/chair.jpg" alt="Chair." loading="lazy" width="305" height="375")
          div.collection__href
            a.collection__link(href="#!") The Dandy chair
          span.collection__price £250

        .collection__slide.swiper-slide
          img.collection__image(src="./img/collection/rustic.jpg" alt="Vase set." loading="lazy" width="305" height="375")
          div.collection__href
            a.collection__link(href="#!") Rustic Vase Set
          span.collection__price £155

        .collection__slide.swiper-slide
          img.collection__image(src="./img/collection/vase.jpg" alt="Silky Vase." loading="lazy" width="305" height="375")
          div.collection__href
            a.collection__link(href="#!") The Silky Vase
          span.collection__price £125

        .collection__slide.swiper-slide
          img.collection__image(src="./img/collection/lamp.jpg" alt="Lamp." loading="lazy" width="305" height="375")
          div.collection__href
            a.collection__link(href="#!") The Lucy Lamp
          span.collection__price £399

    a.collection__view.link(href="./products.html")
      | View collection
