header.header
  .header__wrapper

    .header__top

      form.header__form(action="#")
        label.header__label(for="list")
        input.header__search(list="goods" id="list" aria-label="Search goods.")

        datalist.header__datalist(id="goods")
          option(value="Ceramics")
          option(value="Tables")
          option(value="Chairs")
          option(value="Crockery")

      .header__logo
        img.header__img(src="./img/svg/logo.svg" alt="Logotype." width="65" height="30")

      a.header__cart(href="#!" aria-label="Cart goods.")

      .header__account
        button.header__button(type="button" aria-label="Personal area.")

        .header__log
          form.header__login(action="#")
            label Login
              input.header__name(type="text" minlength="3" maxlength="7")
            label Password
              input.header__password(type="password")
            button.header__enter(type="button") LogIn
          form.header__log-out.display-none(action="#")
            span.header__account-name
            span.header__wallet Wallet: 1000$
            button.button-loguot(type="button") LogUot

    include ./../../libs/burger2/burger.pug
