section.hero

  .hero__background

  .wrapper

    .hero__info

      h1.hero__title.title
        | Luxury homeware for people who love timeless design quality

      p.hero__subtitle
        | Shop the new Spring 2022 collection today

      a.hero__link.link(href="./products.html")
        | View collection
