section.hero

  .hero__background

  .hero__wrapper

    .hero__info

      h1.hero__title
        | Luxury homeware for people who love timeless design quality

      p.hero__subtitle
        | Shop the new Spring 2022 collection today

      a.hero__link(href="#!") 
        | View collection
