section.idea

  .wrapper

    .idea__content

      .idea__info
        h2.idea__title.title
          | It started with a small idea

        p.idea__subtitle
          | A global brand with local beginnings, our story begain in a small studio  in South London in early 2014

        a.idea__link.link.link--fog(href="#!")
          | View collection

      .idea__swiper.swiper
        .swiper-wrapper

          .swiper-slide
            img.idea__image(src="./../img/ideas/armchair.jpg", alt="armchair" width="630" height="478")

          .swiper-slide
            img.idea__image(src="./../img/ideas/interior.jpg", alt="interior" width="630" height="478")

          .swiper-slide
            img.idea__image(src="./../img/ideas/sofa.jpg", alt="sofa" width="630" height="478")
