section.join

  h2.join__title.title
    | Join the club and get the benefits

  p.join__subtitle
    | Sign up for our newsletter and receive exclusive offers on new ranges, sales, pop up stores and more

  ul.join__list

    li.join__item
     | Exclusive offers

    li.join__item
     | Free events

    li.join__item
     | Large discounts

  include sign-up
