section.products
  div.wrapper

    div.products__sort

      ul.products__list
        li.products__item
          button.products__button(type="button") Category
            span.arrow

          ul.products__sublist
            li.products__subitem Furniture
            li.products__subitem Homeware
            li.products__subitem Sofas
            li.products__subitem Light fittings
            li.products__subitem Accessories

      ul.products__list
        li.products__item
          button.products__button(type="button") Price
            span.arrow

          ul.products__sublist
            li.products__subitem 0-100
            li.products__subitem 101-250
            li.products__subitem 250 +

      ul.products__list
        li.products__item
          button.products__button(type="button") Designer
            span.arrow

          ul.products__sublist
            li.products__subitem Robert Smith
            li.products__subitem Liam Gallagher
            li.products__subitem Biggie Smalls
            li.products__subitem Thom Yorke

      div.products__date

        h2.products__head
          | Sorting by:

        ul.products__list
          li.products__item
            button.products__button(type="button") Date added
              span.arrow

            ul.products__sublist
              li.products__subitem New collections
              li.products__subitem Old collections
