.amount {
  display: flex;
  align-items: center;
  column-gap: 22px;
  color: var(--color-text-quaternary);

  &__button {
    margin-left: auto;
  }
}

.amount__counter {
  display: flex;
  align-items: center;
  width: 125px;
  height: 45px;
  background-color: white;

  .amount__increase,
  .amount__decrease {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: inherit;
    text-transform: none;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .amount__total {
    flex-grow: 1;
    text-align: center;
  }
}
